// Variables

$white: #e1e1e6;
$black: #000000;

$gray: #a8a8b3;
$gray-dark: #202024;

$background: #121214;
$primary: #8257e5;
$primary-hover: lighten($primary, 5);
$yellow: #fd951f;
$green: #04d361;

$p1: .5rem;
$p2: .8rem;
$p3: 1.2rem;
$p4: 2rem;

$m1: .5rem;

$r1: .3rem;